// bower:scss
<% if (bootstrapsass) { %>
    $icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap";
    @import "bootstrap-sass-official/assets/stylesheets/_bootstrap";
<% } %>
<% if (foundationsass) { %>
    /* @import "foundation/scss/normalize";
    @import "foundation/scss/foundation"; */
<% } %>
<% if (materializesass) { %>
    // $icon-font-path: "materialize/font";
    /* @import "materialize/sass/materialize"; */
<% } %>
<% if (angularMaterialsass) { %>
    /* @import "angular-material/angular-material"; */
<% } %>
<% if (uikitsass) { %>
    // $icon-font-path: "uikit/fonts";
    /* @import "uikit/scss/uikit"; */
<% } %>
<% if (bootstrapMaterialDesignsass) { %>
    /* @import "bootstrap-material-design/sass/bootstrap-material-design.scss" */
<% } %>
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
