<% if (bootstrapsass) { %>
    // $icon-font-path: "./assets/fonts/bootstrap";
    // @import "bootstrap-sass-official/assets/stylesheets/_bootstrap";
<% } %>
<% if (foundationsass) { %>
    /* @import "../bower_components/foundation/scss/normalize";
    @import "../bower_components/foundation/scss/foundation"; */
<% } %>
<% if (materializesass) { %>
    $icon-font-path: "./font";
    /* @import "../bower_components/materialize/sass/materialize"; */
<% } %>
<% if (materialsass) { %>
    /* @import "../bower_components/angular-material/angular-material"; */
<% } %>
<% if (uikitsass) { %>
    $icon-font-path: "./fonts";
    /* @import "../bower_components/uikit/scss/uikit"; */
<% } %>
// bower:scss
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
