/* bower:less */
<% if (bootstrapless) { %>
    // @icon-font-path: "bootstrap/dist/fonts";
    /* @import "bootstrap/less/boostrap.less"; */
<% } %>
<% if (semanticless) { %>
    // @icon-font-path: "semantic-ui/themes/default/assets/fonts";
    /* @import "semantic-ui/src/semantic.less"; */
<% } %>
<% if (amazeuiless) { %>
    // @icon-font-path: 'amazeui/fonts';
    /* @import "amazeui/less/amazeui.less"; */
<% } %>
<% if (uikitless) { %>
    // @icon-font-path: "uikit/fonts";
    /* @import "uikit/less/uikit.less"; */
<% } %>
/* end bower:less */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
