<% if (bootstrapless) { %>
    @icon-font-path: "./fonts";
    @import "../bower_components/bootstrap/less/boostrap.less";
<% } %>
<% if (semanticless) { %>
    @icon-font-path: "./themes/default/assets/fonts";
    @import "../bower_components/semantic-ui/src/semantic.less";
<% } %>
<% if (amazeuiless) { %>
    @icon-font-path: './fonts';
    @import "../bower_components/amazeui/less/amazeui.less";
<% } %>
<% if (uikitless) { %>
    @icon-font-path: "./fonts";
    @import "../bower_components/uikit/less/uikit.less";
<% } %>
/* bower:less */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
